<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.let.main.data.UserMapper">

	<resultMap id="userResultMap" type="egovframework.let.main.data.User">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="pass" property="pass" />
        <result column="name" property="name" />
        <result column="role" property="role" />
        <result column="status" property="status" />
        <result column="etc" property="etc" />
    </resultMap>
    
    <select id="selectAllUsers" resultMap="userResultMap">
        SELECT id, 
        	   user_id, 
        	   pass, 
        	   name, 
        	   role, 
        	   status, 
        	   etc
        FROM user
    </select>
    
    <select id="selectUser" resultMap="userResultMap" parameterType="egovframework.let.main.data.User">
        SELECT id,
               user_id, 
               pass,
               name, 
               role, 
               status, 
               etc
        FROM user
        WHERE 1=1
        <if test="userId !=null">
          AND user_id = #{userId}
        </if>
        <if test="name !=null">
          AND name = #{name}
        </if>
        <if test="pass !=null">
          AND pass = #{pass}
        </if>
    </select>
    
    <insert id="userCreate" parameterType="egovframework.let.main.data.User">
        INSERT INTO user(
        	 id,
         	 user_id,
        	 pass,
        	 name, 
        	 role, 
        	 status, 
        	 etc)
        VALUES (
        	#{id},
        	#{userId}, 
        	#{pass}, 
        	#{name}, 
        	#{role}, 
        	#{status}, 
        	#{etc}
        	)
    </insert>
</mapper>
