<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.let.main.data.UserMapper">
    <select id="selectAllUsers" resultType="egovframework.let.main.data.User">
        SELECT id, 
        	   user_id, 
        	   pass, 
        	   name, 
        	   role, 
        	   status, 
        	   etc
        FROM user
    </select>
    
    <select id="selectUserByLogin" resultType="egovframework.let.main.data.User" parameterType="map">
        SELECT id,
               user_id, 
               pass,
               name, 
               role, 
               status, 
               etc
        FROM user
        WHERE name = #{name}
          AND pass = #{pass}
    </select>
    
    <insert id="userCreate" parameterType="egovframework.let.main.data.User">
        INSERT INTO user(
        	 id,
         	 user_id,
        	 pass,
        	 name, 
        	 role, 
        	 status, 
        	 etc)
        VALUES (
        	#{id},
        	#{user_id}, 
        	#{pass}, 
        	#{name}, 
        	#{role}, 
        	#{status}, 
        	#{etc}
        	)
    </insert>
</mapper>
